<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Weather Data Table</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/archive.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
<div class="container">
    <h2>Архив данных о погоде</h2>

    <form method="get" action="/filter">
        <div class="form-group">
            <label for="city">City:</label>
            <input type="text" class="form-control" id="city" name="city" th:value="${cityFilter}" required>
        </div>

        <div class="form-group">
            <label for="startDate">Start Date:</label>
            <input type="datetime-local" class="form-control" id="startDate" name="startDate" th:value="${startDateFilter}" required>
        </div>

        <div class="form-group">
            <label for="endDate">End Date:</label>
            <input type="datetime-local" class="form-control" id="endDate" name="endDate" th:value="${endDateFilter}" required>
        </div>

        <button type="submit" class="btn btn-primary">Filter</button>
    </form>

    <form id="downloadForm" action="/download-excel" method="POST">
        <input type="hidden" name="city" th:value="${cityFilter}" />
        <input type="hidden" name="startDate" th:value="${startDateFilter}" />
        <input type="hidden" name="endDate" th:value="${endDateFilter}" />
        <button type="button" class="btn btn-warning" onclick="downloadExcel()">Download Excel</button>
    </form>

    <table class="table">
        <thead>
        <tr>
            <th>City</th>
            <th>Country</th>
            <th>Temperature</th>
            <th>Last Update</th>
            <!-- Add other headers for fields -->
        </tr>
        </thead>
        <tbody>
        <tr th:each="weatherData : ${weatherDataList}">
            <td th:text="${weatherData.city}"></td>
            <td th:text="${weatherData.country}"></td>
            <td th:text="${weatherData.temperature}"></td>
            <td th:text="${weatherData.lastUpdate}"></td>
            <!-- Add other cells for fields -->
        </tr>
        </tbody>
    </table>
</div>

<script>
    function downloadExcel() {
        var city = document.getElementById('city').value;
        var startDate = document.getElementById('startDate').value;
        var endDate = document.getElementById('endDate').value;

        $.ajax({
            type: 'POST',
            url: '/download-excel',
            data: {
                city: city,
                startDate: startDate,
                endDate: endDate
            },
            success: function (response) {
                if (response.startsWith("Ошибка")) {
                    alert(response);
                } else {
                    document.getElementById('downloadForm').submit();
                }
            },
            error: function (error) {
                console.error('Fill in the filter fields', error);
            }
        });
    }
</script>
</body>
</html>
